@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab');

#wrap-all {
width: 100%;  
height: 100vh;  
background: url('../img/bg_.jpg') no-repeat center center;
	background-size: cover;
position: fixed;  
overflow: auto;  
}


.navbar-default {
	background-color: transparent ;
	border: 0px;
	border-radius: 0px;
}

ul.navbar-nav li a{
	font-family: 'Roboto Slab', serif;
	text-align: center;
}
ul.navbar-nav li a:hover{
	border-bottom: inset 2px rgba(65,85,160,1.00) !important;
	color: rgba(65,85,160,1.00) !important;
	font-weight: lighter;
	
}
.img_{
	position: absolute;
	margin: 0px auto;
	margin-top: 50px;
	left: 30%;
	
}
.text_right{
	float: right;
	font-family: 'Oswald', sans-serif;
}
.text_right_2{
	font-family: 'Oswald', sans-serif;
}
.text_right h1{
	font-size: 80px;
	color: #194062 !important;
}
.img_people{
	border: 10px solid rgba(128,128,128,0.50);
}
.text_right h2{	

	color: #194062 !important;
}
.btn-primary{
	border-radius: 50px;
	width: 190px;
}
button.btn-primary a{
	color: white;
	text-decoration: none;
}
#people h1{
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}
#text_1{
	display: none;
}

#owl-demo .owl-item{
    display: block;
    width: 100%;
    height: auto;
}
/*modal*/
#modal_{
	display: none;
}
/*media conovert*/

 @media (max-width : 900px) {
	 .img_{
		 display: none;
	 }
	 #people{

		 width: 100%;
		 left: 200px;
		 text-align: center;
	 }
	 .img_people{
		 margin: auto;
	 }
	 #text_{
		 display: none;
	 }
	 #menu{
		 display: none;
	 }
	 #text_1{
		 display: block;
		 float: right;
		 font-family: 'Oswald', sans-serif;
	 }
	 #text_1 button.btn-success{
		 position: absolute;
		 top: 10px;
		 right: 1%;
		 background-color: rgba(51,122,183,1.00);
		 border:none;
	 }
	 .btn-success{
		
		 border-radius: 50px;
		 width: 100px;
	 }
	 .btn-success a{
		 color: white;
	 }
	 .text_1 h1{
		 font-weight: bold;
		
	 }
	 #modal_{
		 display: block;
	 }
	 .modal-content{
		 border-radius: 0px;
		 background-color: rgba(232,232,232,1.00) !important;
	 }
	 ul.menu_modal{
		 padding: 5px;
	 }
	 ul.menu_modal li{
		 list-style: none;
		 margin: 15px;;
	 }
	 ul.menu_modal li a{
		 text-decoration: none;
		 font-size: 20px;
		 font-family: 'Oswald', sans-serif;
		 color: grey!important;
		 
	 }
	 .glyphicon{
		 font-size: 20px;
		 color: rgba(40,66,217,1.00) !important;
	 }
   }

  @media (max-width : 760px) {
/*banner*/
 	 #text_1 h1, h3{
		  display:none;
	  }
		
  }
  @media (max-width : 440px) {
/*banner*/
 	
	  #text_1 h1, h3{
		  display:none;
	  }
  }

