/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Arsenal');
body{
	font-family: 'Arsenal', sans-serif;
	background-color: rgba(240,240,240,1.00) !important;
}
.btn-default{
	background-color: transparent !important;
	border: none;
}
input.form-control{
	background-color: transparent !important;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
	border-bottom: rgba(158,11,14,1.00) solid 3px;
	box-shadow: inset 0px 0px 0px 0px red;
}
input.form-control:focus{
	border-color: none;
        box-shadow: none;
	
}
.navbar-default{
	padding: 7px;
	-webkit-box-shadow: 0px 3px 0px 1px rgba(245,242,245,1);
-moz-box-shadow: 0px 3px 0px 1px rgba(245,242,245,1);
box-shadow: 0px 3px 0px 1px rgba(245,242,245,1);
}
.navbar-nav li a:hover{
	background-color: none;
}
.navbar-nav li a:focus{
	background-color: none;
}
.panel-default{
	border-top:3px solid rgba(199,14,18,1.00);
	border-radius:0px;
}